<% if @reservation.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li class="error-list-item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>